<!--Edit Button-->
<td>
<button type="button" class="btn btn-light " data-bs-toggle="modal" data-bs-target="#editModal{{our_model.id}}">
    <ion-icon name="create-outline"></ion-icon>
  </button>
  
  <!--Edit Modal-->		
    
  <div class="modal fade" id="editModal{{our_model.id}}" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
      <h5 class="modal-title" id="createModalLabel">Edit User</h5>
      <button type="button" class="btn btn-light" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
        <form class="row g-3" method="POST" action="{{url_for('auth.userEdit', id=our_model.id)}}">
              
              {{form.hidden_tag()}}
                  
              <div class="form-group" >
                  {{form.username.label(class="form-control-label")}}
                  {{form.username(class="form-control form-control", value=our_model.username)}}
                  <br/>
                  {{form.name.label(class="form-control-label") }}
                  {{form.name(class="form-control form-control", value=our_model.name)}}
                  <br/>
                  {{form.lastName.label(class="form-control-label")}}
                  {{form.lastName(class="form-control form-control", value=our_model.lastName)}}
                  <br/>
                  {{form.role_button.label(class="form-control-label")}}
                  {{form.role_button(class="form-control form-control", value=our_model.roles)}}
                  <br/>
                  {{form.password_hash.label(class="form-control-label")}}
                  {{form.password_hash(class="form-control form-control")}}
                  <br/>
                  {{form.password_hash2.label(class="form-control-label")}}
                  {{form.password_hash2(class="form-control form-control")}}
                  <br/>
              </div>
          
              
              <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {{form.submit(class=" btn")}}
              </div>
            </form>
    </div>
    </div>
    </div>
    </div>
  </td>
<!-- Dropdown-->
<td>

  <div class="dropdown">
      <button class="btn btn-light  dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      </button>
      
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      
        {%for i in our_model.portfs%}
        
          <a class="dropdown-item" href="#">{{i}}</a>
        
        {%endfor%}
  
      </div>
      
    </div>
  </td>
<!--Delete Button-->
<td>

<button type="submit" class="btn btn-light" >
    <a href="{{url_for('auth.userDelete', id=our_model.id)}}">
      {{form.hidden_tag()}}
      <ion-icon name='close'></ion-icon>
    </a>
  </button>

</td>