<!--Edit Button-->
<button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#editModal{{our_user.id}}">
    <ion-icon name="create-outline"></ion-icon>
  </button>
  
  <!--Edit Modal-->		
    
  <div class="modal fade" id="editModal{{our_user.id}}" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
      <h5 class="modal-title" id="createModalLabel">Modal title</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
        <form class="row g-3" method="POST" action="{{url_for('auth.userEdit', id=our_user.id)}}">
              
              {{form.hidden_tag()}}
                  
              <div class="form-group" >
                  {{form.username.label(class='form-control')}}
                  {{form.username(class='form-control', value=our_user.username)}}
                  
              </div>
              <div class="form-group">
                  {{form.name.label(class='form-control') }}
                  {{form.name(class='form-control', value=our_user.name)}}
                  
              </div>
              <div class="form-group">
                  {{form.lastName.label(class='form-control')}}
                  {{form.lastName(class='form-control', value=our_user.lastName)}}
              </div>
              <div class="form-group">
                {{form.role_button.label(class='form-control')}}
                {{form.role_button(class='form-control', value=our_user.roles)}}
            </div>
            <div class="form-group">
              {{form.password_hash.label(class='form-control')}}
              {{form.password_hash(class='form-control')}}
          </div>
          <div class="form-group">
            {{form.password_hash2.label(class='form-control')}}
            {{form.password_hash2(class='form-control')}}
        </div>
          
              
              <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {{form.submit(class=" btn")}}
              </div>
            </form>
    </div>
    </div>
    </div>
    </div>

<!--Delete Button-->

<button type="submit" class="btn btn-light" >
    <a href="{{url_for('auth.userDelete', id=our_user.id)}}">
      {{form.hidden_tag()}}
      <ion-icon name='close'></ion-icon>
    </a>
  </button>