<!--Main Navigation-->
<header>
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-dark">
    <div class="position-sticky ">
      <div class="list-group list-group-flush mx-3 mt-4">
        <a
          href="#"
          class="list-group-item list-group-item-action list-group-item-info"
          aria-current="true"
        >
          <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
        </a>
        <a href="{{url_for('auth.userAdd')}}" class="list-group-item list-group-item-action list-group-item-info">
          <i class="fas fa-chart-area fa-fw me-3"></i><span>Users Profile</span>
        </a>
        <a></a>
        <a href="{{url_for('system.portfs')}}" class="list-group-item list-group-item-action list-group-item-info"
          ><i class="fas fa-lock fa-fw me-3"></i><span>Portafolio</span></a
        >
        <a href="{{url_for('system.events')}}" class="list-group-item list-group-item-action list-group-item-info"
          ><i class="fas fa-chart-line fa-fw me-3"></i><span>Events</span></a
        >
        <a href="{{url_for('system.customers')}}"  class="list-group-item list-group-item-action list-group-item-info">
          <i class="fas fa-chart-pie fa-fw me-3"></i><span>Customer Data</span>
        </a>
        <a href="{{url_for('system.cars')}}"  class="list-group-item list-group-item-action list-group-item-info">
          <i class="fas fa-chart-pie fa-fw me-3"></i><span>Car Data</span>
        </a>
        <a href="{{url_for('auth.login')}}"  class="list-group-item list-group-item-action list-group-item-info">
          <i class="fas fa-chart-pie fa-fw me-3"></i><span>Login</span>
        </a>

        
        
      </div>
    </div>
  </nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light  fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#sidebarMenu"
        aria-controls="sidebarMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <!-- Brand -->
      
      <a class="container" href="#">
        <img
          src="/static/pics/car.png"
          height="53"
          alt="Logo"
          loading="lazy"
        />
      </a>
      <!-- Search form -->
      {% set page = ['system.customers', 'system.events','system.portfs','system.cars','auth.userAdd'] %}
      {%for i in page %}
      {% if request.url_rule.endpoint == i  %}
     
      <form id="SearchForm" -class="d-none d-md-flex input-group w-auto my-auto" >
        {{SearchForm.hidden_tag()}}
        <div class="center">
    
        <input
        autocomplete="off"
        type="search"
        class="form-control rounded"
        placeholder='Search in {{i.replace("system.","")}}'
        style="min-width: 225px;"
        id="bar_search"
        />
      </div>
      </form>
      {%endif%}
      {%endfor%}
      
      <!-- Right links -->
      <ul class="navbar-nav ms-auto d-flex flex-row">
        <!-- Notification dropdown -->
        <li class="nav-item dropdown">
          
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li>
              <a class="dropdown-item" href="#">Some news</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Another news</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </li>

        <!-- Icon -->
        <li class="nav-item">
          <a class="nav-link me-3 me-lg-0" href="#">
            <i class="fas fa-fill-drip"></i>
          </a>
        </li>
        <!-- Icon -->
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" href="#">
            <i class="fab fa-github"></i>
          </a>
        </li>

        <!-- Icon dropdown -->
        <li class="nav-item dropdown">
          
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="#"
                ><i class="flag-united-kingdom flag"></i>English
                <i class="fa fa-check text-success ms-2"></i
              ></a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="#"><i class="flag-poland flag"></i>Polski</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"><i class="flag-china flag"></i>中文</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"><i class="flag-japan flag"></i>日本語</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"><i class="flag-germany flag"></i>Deutsch</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"><i class="flag-france flag"></i>Français</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"><i class="flag-spain flag"></i>Español</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"><i class="flag-russia flag"></i>Русский</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"><i class="flag-portugal flag"></i>Português</a>
            </li>
          </ul>
        </li>

        <!-- Avatar -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="/static/pics/profile_pic_deafult.png"
              class="rounded-circle"
              height="29"
              alt="Avatar"
              loading="lazy"
            />
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li>
              <a class="dropdown-item" href="#">My profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Settings</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 30px;">
  <div class="container pt-4"></div>
</main>
<!--Main layout-->