{% extends 'base.html' %}

{% block content %}


{% for message in get_flashed_messages() %}

	<div class="alert alert-primary alert-dismissible show" role="alert">
		{{message}}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>	

{% endfor %}

<br/>
		<h1>You search for </h1>

		<br/>


		<!-- TABLE -->

		<table class="table table-hover table" >

			{% for model in models_filtered %}
			<tbody>
				{%for attr in attrs_filtered%}
			
					<td>{{getattr(model,attr)}}</td>			
				
				{%endfor%}
			</tbody>
			{%endfor%}
			
		</table>

	
			

		

{% endblock %}