{% extends 'base.html' %}

{% block content %}


{% for message in get_flashed_messages() %}

	<div class="alert alert-primary alert-dismissible show" role="alert">
		{{message}}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>	

{% endfor %}

<br/>
		<h1 >Action plan</h1>

		<br/>
		<div class="izq">
			<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target='#document-textModal' >
				Add action plan
				<ion-icon name='document-text'></ion-icon>
			</button>
		</div>


		<!-- Modal add-->
<form method="POST" action="{{url_for('system.actionplanAdd')}}">
		<div class="modal fade" id="document-textModal" tabindex="-1" role="dialog" aria-labelledby="document-textModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
				<h5 class="modal-title" id="document-textModalLabel">Modal</h5>
				<button type="button" class="btn btn-light" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				</div>
		<div class="modal-body">
	
					{{form.hidden_tag()}}
						
					<div class="form-group">

						
						{{form.action.label(class="form-control-label")}}
						{{form.action(class="form-control form-control")}}
						<br/>
						{{form.activity.label(class="form-control-label")}}
						{{form.activity(class="form-control form-control")}}
						<br/>
						{{form.observations.label(class="form-control-label")}}
						{{form.observations(class="form-control form-control")}}
						<br/>
						{{form.Responsible.label(class="form-control-label")}}
						{{form.Responsible(class="form-control form-control")}}
						<br/>
						{{form.amount.label(class="form-control-label")}}
						{{form.amount(class="form-control form-control")}}
						<br/>
						

					</div>
					
					</div>

					<div class="modal-footer text-center">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						{{form.submit(class="btn btn-primary")}}
					</div>

				

				</div>
			</div>
		</div>
	</form>

		<!-- TABLE -->

		<table class="table table-hover table" >
			<thead class="thead">
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Action</th>
					<th scope="col">Activity</th>
					<th scope="col">Start date</th>
					<th scope="col">Closing date</th>
					<th scope="col">Number of hours</th>
					<th scope="col">Responsible</th>
					<th scope="col">Amount</th>
					<th scope="col"></th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>

			{% for our_model in our_models %}
				<tbody>
			
					<tr>
						{% include 'system/tables/actionplan-table.html' %}
						<td>{% include 'system/modals/actionplan-modal-btns.html' %}</td>
						
						</tr>
				</tbody>
	
			{%endfor%}
</table>

	
			

		

{% endblock %}