{% extends 'base.html' %}

{% block content %}


{% for message in get_flashed_messages() %}

	<div class="alert alert-primary alert-dismissible show" role="alert">
		{{message}}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>	

{% endfor %}

<br/>
		<h1>Customer Data </h1>

        {{value}}

		<br/>
		<div class="izq">
			<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target='#document-textModal' >
				Add a customer
				<ion-icon name='document-text'></ion-icon>
			</button>
		</div>


		<!-- Modal add-->
		<div class="modal fade" id="document-textModal" tabindex="-1" role="dialog" aria-labelledby="document-textModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
				<h5 class="modal-title" id="document-textModalLabel">Modal</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				</div>
		<div class="modal-body">
	
				<form method="POST" action="{{url_for('system.addCustomer')}}">
						
                    {{form.hidden_tag()}}
                    
                    </div>
                    <div class="form-group">
                        {{form.name.label(class="form-control")}}
                        {{form.name(class="form-control"  )}}
                        
                    </div>
                    <div class="form-group">
                        {{form.lastName.label( class="form-control")}}
                        {{form.lastName(class="form-control")}}
                    
                    </div>
                    <div class="form-group">   
                              {{form.dateBirth.label()}}
                              {{form.dateBirth(class="form-control")}}
                                
                    </div>
                    <div class="form-group">
                        {{form.description.label( class="form-control name=label")}}
                        {{form.description(class="form-control")}}
                        
                    </div>
                    <div class="form-group">
                        {{form.email.label( class="form-control name=label")}}
                        {{form.email(class="form-control")}}
                        
                    </div>
                    <div class="form-group">
                        {{form.cellNumber.label( class="form-control name=label")}}
                        {{form.cellNumber(class="form-control")}}
                        
                    </div>
                    <div class="form-group">
                        {{form.customerID.label( class="form-control name=label")}}
                        {{form.customerID(class="form-control")}}
                        
                    </div>
                
                    <div class="modal-footer">
                        
                        {{form.submit(class="btn btn-primary")}}
                    </div>

				</form>

				</div>
			</div>
		</div>
		</div>
		<!-- TABLE -->

		<table class="table table-hover table" >
			<thead class="thead">
				
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">{{form.name.label(scope="col")}}</th>
                      <th scope="col">{{form.lastName.label(scope="col")}}</th>
                      <th scope="col">{{form.dateBirth.label(scope="col")}}</th>
                      <th scope="col">{{form.description.label(scope="col")}}</th>
                      <th scope="col">{{form.email.label(scope="col")}}</th>
                      <th scope="col">{{form.cellNumber.label(scope="col")}}</th>
                      <th scope="col">{{form.customerID.label(scope="col")}}</th>
                      <th scope="col"></th>
                      </tr>
                
			</thead>

			{% for our_customer in our_customers %}
				<tbody>
			
					<tr>
						
                            <th scope="row">{{our_customer.id}}</th>
                            
                            <td>{{our_customer.name}}</td>
                            <td>{{our_customer.lastName}}</td>
                            <td>{{our_customer.dateBirth}}</td>
                            <td>{{our_customer.description}}</td>
                            <td>{{our_customer.email}}</td>
                            <td>{{our_customer.cellNumber}}</td>
                            <td>{{our_customer.customerID}}</td>
                            
                            
                        <td>
                            
                            {% include 'system/customer-modals-btn.html' %}
                        </td>
                          </tr>
						
						
				</tbody>
	
			{%endfor%}
</table>


	
			

		

{% endblock %}