

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 #50B4E6, 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}body {
  background-color: white;
}
@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}



/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 55px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(33,37,44), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 220px;
  z-index: 500;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}






.list-group-item{
  background-color: rgb(33,37,44);
  border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
  font-size: large;
  color: aliceblue;
  border: 0px;
  margin-bottom: 20px;
}

.navbar{
  position: relative;
  background: linear-gradient(to left, #21b96b, rgb(33,37,44));
}


.table{
  background-color: rgba(190, 226, 245, 0.1);
  box-shadow:  0 2px 5px 0 rgba(33,37,44, 0.1), 0 5px 15px 0 rgba(33,37,44, 0.5);
  font-size: 15.5px;
}

.thead{
  background-color: #21b96b;
  color: rgb(255, 255, 255);
}

.izq{
  text-align:right;
  }


.ui-front {
  z-index: 9999999 !important;
}

.ui-menu .ui-menu-item a{
  color: #e826f2;
  border-radius: 0px;
  border: 1px solid #454545;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 77%;
    margin-left: -.9em;
    margin-top: -.9em;
}

.table-dropdown{
  background-color: transparent;
  box-shadow:none;
  border-top: transparent;
  align-content: center;
}